{% extends 'main_row.html' %}
{% load render_table from django_tables2 %}
{% load bootstrap3 %}
{% load static %}

{% block content %}
    <div class="table-responsive">
        <table class="table table-striped table-bordered table-hover dataTables-example" id="example">
            <thead>
                <tr>
                    <th>id_IT</th>
                    <th>SERIAL_NUMBER</th>
                    <th>MANUFACTURER</th>
                    <th>NAME</th>
                    <th>MODEL</th>
                    <th>LOCATION</th>
                    <th>ROOM</th>
                    <th>ENERGY_CONSUMPTION</th>
                    <th>BTU</th>
                    <th>MICROCODE</th>
                    <th>PATCH_LEVEL</th>
                    <th>CUSTOMER_ID</th>
                    <th>HOSTS_APPLICATION</th>
                    <th>TCPADDR1</th>
                    <th>TCPADDR2</th>
                    <th>TCPADDR3</th>
                    <th>SW_GUI</th>
                    <th>INVESTMENT_DATE</th>
                    <th>MAINTENANCE_EXPIRATION_DATE</th>
                    <th>MAINTENANCE_PROVIDER</th>
                    <th>MAINTENANCE_CONTRACT</th>
                    <th>IS_EXTENSION_REQUIRED</th>
                    <th>IS_MIGRATION_REQUIRED</th>
                    <th>RAID_CONFIG</th>
                    <th>USABLE_CAPACITY_GB</th>
                    <th>CAPACITY_IN_USE_GB</th>
                    <th>FREE_CAPACITY_GB</th>
                    <th>EXTENSION</th>
                    <th>COMMENT_1</th>
                    <th>STORAGE_TYPE</th>
                    <th>READADMIN</th>
                    <th>RACK</th>
                    <th>COST_CENTER</th>
                    <th>CO2_KG</th>
                    <th>SECOND_INVESTMENT_DATE</th>
                </tr>
            </thead>
            <!--<tfoot>
                <tr>
                    <!--<th></th>
                    <th>id_IT</th>
                    <th>SERIAL_NUMBER</th>
                    <th>MANUFACTURER</th>
                    <th>NAME</th>
                    <th>MODEL</th>
                    <th>LOCATION</th>
                    <th>ROOM</th>
                    <th>ENERGY_CONSUMPTION</th>
                    <th>BTU</th>
                    <th>MICROCODE</th>
                    <th>PATCH_LEVEL</th>
                    <th>CUSTOMER_ID</th>
                    <th>HOSTS_APPLICATION</th>
                    <th>TCPADDR1</th>
                    <th>TCPADDR2</th>
                    <th>TCPADDR3</th>
                    <th>SW_GUI</th>
                    <th>INVESTMENT_DATE</th>
                    <th>MAINTENANCE_EXPIRATION_DATE</th>
                    <th>MAINTENANCE_PROVIDER</th>
                    <th>MAINTENANCE_CONTRACT</th>
                    <th>IS_EXTENSION_REQUIRED</th>
                    <th>IS_MIGRATION_REQUIRED</th>
                    <th>RAID_CONFIG</th>
                    <th>USABLE_CAPACITY_GB</th>
                    <th>CAPACITY_IN_USE_GB</th>
                    <th>FREE_CAPACITY_GB</th>
                    <th>EXTENSION</th>
                    <th>COMMENT_1</th>
                    <th>STORAGE_TYPE</th>
                    <th>READADMIN</th>
                    <th>RACK</th>
                    <th>COST_CENTER</th>
                    <th>CO2_KG</th>
                    <th>SECOND_INVESTMENT_DATE</th>
                </tr>
            </tfoot>-->
        </table>
    </div>
{% endblock %}

{% block page_scripts %}
    <script>
        $(document).ready(function(){

            console.log('Calling API to get data');
            $('#example').DataTable({
                "serverSide": true,
                "ajax": "/api/CACTEA/?format=datatables",
                "pageLength": 70,
                "responsive": true,
                "columns": [
                    {"data": "id_IT"},
                    {"data": "SERIAL_NUMBER"},
                    {"data": "MANUFACTURER"},
                    {"data": "NAME"},
                    {"data": "MODEL"},
                    {"data": "LOCATION"},
                    {"data": "ROOM"},
                    {"data": "ENERGY_CONSUMPTION"},
                    {"data": "BTU"},
                    {"data": "MICROCODE"},
                    {"data": "PATCH_LEVEL"},
                    {"data": "CUSTOMER_ID"},
                    {"data": "HOSTS_APPLICATION"},
                    {"data": "TCPADDR1"},
                    {"data": "TCPADDR2"},
                    {"data": "TCPADDR3"},
                    {"data": "SW_GUI"},
                    {"data": "INVESTMENT_DATE"},
                    {"data": "MAINTENANCE_EXPIRATION_DATE"},
                    {"data": "MAINTENANCE_PROVIDER"},
                    {"data": "MAINTENANCE_CONTRACT"},
                    {"data": "IS_EXTENSION_REQUIRED"},
                    {"data": "IS_MIGRATION_REQUIRED"},
                    {"data": "RAID_CONFIG"},
                    {"data": "USABLE_CAPACITY_GB"},
                    {"data": "CAPACITY_IN_USE_GB"},
                    {"data": "FREE_CAPACITY_GB"},
                    {"data": "EXTENSION"},
                    {"data": "COMMENT_1"},
                    {"data": "STORAGE_TYPE"},
                    {"data": "READADMIN"},
                    {"data": "RACK"},
                    {"data": "COST_CENTER"},
                    {"data": "CO2_KG"},
                    {"data": "SECOND_INVESTMENT_DATE"},

                ],
                "dom": '<"html5buttons"B>lTfgitp',
                "buttons": [
                    { extend: 'copy'},
                    {extend: 'csv'},
                    {extend: 'excel', title: 'ExampleFile'},
                    {extend: 'pdf', title: 'ExampleFile'},

                    {extend: 'print',
                     customize: function (win){
                            $(win.document.body).addClass('white-bg');
                            $(win.document.body).css('font-size', '10px');

                            $(win.document.body).find('table')
                                    .addClass('compact')
                                    .css('font-size', 'inherit');
                    }
                    }
                ],
                'columnDefs': [{
                    'targets': 0,
                    'searchable': false,
                    'orderable': false,
                    'checkboxes': {
                        'selectRow': true,
                    },
                   }],
                'select': {
                    'style': 'multi',
                },
                'order': [[1, 'asc']],
            });

            // Handle click on "Select all" control
            $('#example-select-all').on('click', function(){
                // Check/uncheck all checkboxes in the table
                var rows = table.rows({ 'search': 'applied' }).nodes();
                $('input[type="checkbox"]', rows).prop('checked', this.checked);
            });

            // Handle click on checkbox to set state of "Select all" control
            $('#example tbody').on('change', 'input[type="checkbox"]', function(){
                // If checkbox is not checked
                if(!this.checked){
                    var el = $('#example-select-all').get(0);
                    // If "Select all" control is checked and has 'indeterminate' property
                    if(el && el.checked && ('indeterminate' in el)){
                        // Set visual state of "Select all" control
                        // as 'indeterminate'
                        el.indeterminate = true;
                    }
                }
            });

            // Handle form submission event
            $('#frm-example').on('submit', function(e){
                var form = this;

                // Iterate over all checkboxes in the table
                table.$('input[type="checkbox"]').each(function(){
                    // If checkbox doesn't exist in DOM
                    if(!$.contains(document, this)){
                        // If checkbox is checked
                        if(this.checked){
                        // Create a hidden element
                        $(form).append(
                            $('<input>')
                                .attr('type', 'hidden')
                                .attr('name', this.name)
                                .val(this.value)
                        );
                        }
                    }
                });
            });
        });
    </script>
{% endblock %}
